.git
.github
.husky
.cursor
.agents
agent-transcripts

node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
.turbo

.env
.env.*
**/.env
**/.env.*
!**/.env.example
!**/.env.test.example

docker-compose.yaml
docker-compose.*.yaml
!docker-compose.*.example
!docker-compose.yaml.example

*.log
.DS_Store
